{% extends "frame_lgc.html" %}
{% block extra_header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12-sm" style="margin-bottom: 5px">
    <h1>MOTIVATION</h1>
    <p>
        This questionnaire is an on-going research project on studying location sharing platforms carried out by a PhD student at Delft University of Technology in the Netherlands (@socialmining). We ARE NOT affiliated to (neither are we endorsed by) any of the location sharing platforms besides those mentioned in the questionnaire.
    </p>

    <h1>TERMS OF USE</h1>
    <p>
        The only purpose of collecting the data is for an academic study in context of a PhD thesis project in Delft University of Technology (http://tudelft.nl). We treat any information collected through this questionnaire confidentially. We do not disclose, publish or give any third party access to any information in any format which reveals your identity. We do not use your data for any commercial purposes. Should you decide that you want to withdraw your data from our project, please indicate that in the last question of this questionnaire.
    </p>

    <h1>THANKS</h1>
    <p>
        We sincerely appreciate your contribution to our research project. If you have any questions, please do not hesitate to contact us at @socialmining at any time.
    </p>
  </div>
</div>
{% endblock %}
