<html>
<body>
  <h1> Ouch... </h1>
  <p>You may encounter one of the following problems:</p>
  <ul>
    <li>You are accessing the system with an invalid link.</li>
    <li>Your session may be interrupted or timeout.</li>
    <li>You may have resubmit an annotation.</li>
  </ul>
  <p> Please do not use the "Go Back" button from the browser and it is OK to leave along the mistaken submission. </p>
  <p><a href="/">Click Here</a> to try to go back to tasks. </p>
  <p> If you encounter this page frequently, please inform <a href="mailto:wen.li@tudelft.nl?subject=Geoexpertise%20Annotation%20System%20Malfunctioning">wen.li@tudelft.nl</a>. Thank you.</p>
</body>
</html>
