{% extends "frame.html" %}
{% block content %}
<div id="judgement-panel" class="panel panel-default" style="z-index: 100">
  <div class="panel-heading">
    <b>
      How likely will you get sufficient information from this user about
    </b>
  </div>
  <div class="panel-body">
    <form id="pv-judgement-form" action="/submit_annotation" method="post" accept-charset="utf-8" role="form">
      <input type="hidden" name="pv-task-key" value="{{ task_key }}" id="judgement-candidate">
      {% csrf_token %}
      <div class="list-group">
        {% for t in topics %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              <abbr title="{{ t.example }}">
                {% if t.topic_type == 'POI' %}
                <a href="http://www.google.com/search?q={{ t.topic }}+{{ t.region }}" target="_blank">
                  <b>{{ t.topic }}</b>
                </a>
                {% else %}
                  <b>{{ t.topic }}</b>
                {% endif %}
              </abbr> in <b>{{ t.region }}</b>?
            </div>
            <div class="col-sm-4" align="right">
              <div class="btn-group btn-group-xs btn-judgement" data-toggle="buttons">
                <label class="btn btn-default btn-radio" for="" title="He/she probably knows nothing">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="1"> <div class="has-explanation">&nbsp;1&nbsp;</div>
                </label>
                <label class="btn btn-default btn-radio" for="">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="2"> <div class="has-no-explanation">&nbsp;2&nbsp;</div>
                </label>
                <label class="btn btn-default btn-radio" for="">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="3"> <div class="has-no-explanation">&nbsp;3&nbsp;</div>
                </label>
                <label class="btn btn-default btn-radio" for="">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="4"> <div class="has-no-explanation">&nbsp;4&nbsp;</div>
                </label>
                <label class="btn btn-default btn-radio" for="" title="He/she definately knows a lot.">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="5"> <div class="has-explanation">&nbsp;5&nbsp;</div>
                </label>
                <label class="btn btn-default btn-radio" for="" title="Not sure what the topic is really about.">
                  <input type="radio" name="pv-judgements-{{ t.topic_id  }}" value="-1"> <div class="has-explanation">Not Sure</div>
                </label>
              </div>
            </div>
            <div class="col-sm-1" align="right">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-xs btn-float-right">Submit &amp; Continue</button>
          <input type="hidden" name="pv-annotation-traceback" value="" id="id-input-traceback">
        </div>
      </div>
    </form>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        <b>Statistics</b>
        <div class="btn-toolbar btn-float-right">
          <div class="btn-group">
            {% for f in filters %}
            <button type="button" class="btn btn-default btn-xs" onClick="profileviewer_ns.focusTopic('{{ f.name }}', '{{ f.level }}')" title="{{ f.description }}">
              <span class="glyphicon glyphicon-search"></span> {{ f.name }}
            </button>
            {% endfor %}
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs" onClick="profileviewer_ns.unfocusAll()" title="Remove all filters currently applied." >
              <span class="glyphicon glyphicon-repeat"></span> Reset
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-info" title="This chart shows the number of check-ins at each top-level category of places.">
          <div class="panel-body">
            <div id="chart-zcate-pie" class="topic-chart"> </div>
          </div>
          <div class="panel-footer chart-label"> Top-level Categories </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-info" title="This chart is similar to the one showing top-level category distribution except that it is for lower-level categories.">
          <div class="panel-body">
            <div id="chart-cate-pie" class="topic-chart"> </div>
          </div>
          <div class="panel-footer chart-label"> Lower-level Categories </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-info" title="This chart shows the number of check-ins the candidate have made at each place.">
          <div class="panel-body">
            <div id="chart-poi-pie" class="topic-chart"> </div>
          </div>
          <div class="panel-footer chart-label"> Locations </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-info" title="This chart shows the number of check-ins that were made at each of 4 cities.">
          <div class="panel-body">
            <div id="chart-region-pie" class="topic-chart"> </div>
          </div>
          <div class="panel-footer chart-label"> Regions </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-info" title="This chart shows the number of check-ins per week.">
          <div class="panel-heading"> Check-ins per week (after filtering)</div>
          <div class="panel-body">
            <div id="chart-timeline"> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" title="The top 30 popular places from the candidate are marked on the map.">
      <div class="panel-heading">
        Top 30 places (after filtering)
      </div>
      <div class="panel-body">
        <div id="map-canvas" style="height: 500px;width: 100%"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Dialogue for spam checking -->
<div class="modal fade" id="id-dialog-verify-judgement" tabindex="-1" role="dialog" aria-labelledby="user_sign_up" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Submitting by mistakes?</h3>
      </div>
      <div class="modal-body">
        You seems clicking submit button by mistake, please verify your judgement.
      </div>
    </div>
  </div>
</div>
<!--<div class="modal-footer">-->
  <!--<small> All you data will be treated confidentially. </small>-->
<!--</div>-->
{% endblock %}

{% block extra_scripts %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4oLS7DjhME0pLuTTauJw3rjs1_n4TuKM&sensor=false" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/d3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/crossfilter.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/dc.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/gmaps.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/jquery-uuid.js" type="text/javascript" charset="utf-8"></script>

  <script src="/static/profileviewer/js/expert_view.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/profileviewer/js/control.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="/static/profileviewer/css/dc.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8">
    (function () {
      profileviewer_ns.initCharts("{{ candidate | safe }}");
      var in_nodes = [
        {% for t in topics %}
        "pv-judgements-{{ t.topic_id  }}",
        {% endfor %}
      ];
      // check whether all expertise is assigned with scores
      $("#pv-judgement-form").submit(function(event){
        var selector;
        for(var i in in_nodes){
          selector = "input[name='" + in_nodes[i] + "']";
          if($(selector + ":checked").length === 0){
            $(selector).closest(".btn-group").addClass("error");
            event.preventDefault();
          }
        }
        // return if the event is prevented from score mark checking
        if(event.isDefaultPrevented()){
          control.record('submit_without_score');
          return;
        }
        // check the monitored task performance
        else if(!control.checked()){
          $("#id-dialog-verify-judgement").modal("show");
          $(".modal-backdrop.fade.in").css({opacity: 1, background: "#900"});
          control.record('submit_too_soon');
          event.preventDefault();
        }
        else {
          $("#id-input-traceback").val(JSON.stringify(control.getState()));
        }
        return;
      });
      $(".btn-judgement").click(function(){
        $(this).removeClass("error");
      });

      // For judgement reviewing
      var topic_judgement = JSON.parse("{{ topic_judgement|escapejs }}");
      if(topic_judgement){
        for(var k in topic_judgement){
          $("input[name=py-judgements-" + k + "]").prop("checked", true);
          $("input[name=pv-judgements-" + k + "][value=" + topic_judgement[k] + "]")
            .closest("label").addClass("active")
        }
      }
    })();
  </script>
  <style type="text/css" media="screen">
    a:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .chart-label {
      cursor: help;
      text-align: center;
    }
    .btn-float-right {
      float: right;
    }
    .btn-radio.active, .btn-radio:active {
      background-color: #428bca;
      color: white;
    }
    .has-explanation {
      border-bottom: 1px dotted
    }
    .has-no-explanation {
      border-bottom: 1px solid white;
    }
    .error {
      -moz-box-shadow:    0px 0px 5px 2px #c00;
      -webkit-box-shadow: 0px 0px 5px 2px #c00;
      box-shadow:         0px 0px 5px 2px #c00;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    .chart-container-focus {
      -moz-box-shadow:    0px 0px 5px 2px #3d3;
      -webkit-box-shadow: 0px 0px 5px 2px #3d3;
      box-shadow:         0px 0px 5px 2px #3d3;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  </style>
{% endblock %}
