{% extends "frame.html" %}
{% block extra_header %}
  <script src="/static/bower_components/sticky-kit/jquery.sticky-kit.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4oLS7DjhME0pLuTTauJw3rjs1_n4TuKM&sensor=false" type="text/javascript" charset="utf-8"></script>
  <script src="/static/bower_components/d3/d3.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/bower_components/crossfilter/crossfilter.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/bower_components/dcjs/dc.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/bower_components/gmaps/gmaps.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/profileviewer/expert_view.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="/static/bower_components/dcjs/dc.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      profileviewer_ns.initCharts("{{ screen_name | safe }}");
      $("#pv-judgment-panel").stick_in_parent();
    });
  </script>
{% endblock %}
{% block content %}
     
<div id="pv-judgment-panel" class="panel panel-default" style="z-index: 100">
  <!--<div class="panel-heading">Judgments</div>-->
  <div class="panel-body">
    <form action="/judge_expert" method="post" accept-charset="utf-8" role="form">
      {% csrf_token %}
      <div class="list-group">
        {% for t in expertise %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-lg-9"> Relevance to <b>{{ t.topic }}</b> in <b>{{ t.region }}</b> 
            </div>
            <div class="col-lg-3">
              <div class="btn-group">
                <button id="btn-focus-{{ t.topic_id  }}" type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  Focus
                </button>
                <div id="pv-judgments" class="btn-group">
                  <button id="btn-judgements-{{ t.topic_id  }}" type="button" class="btn btn-danger dropdown-toggle btn-xs" data-toggle="dropdown">
                    Not Selected <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0)" onClick="(function(){var $btn = $('#btn-judgements-{{ t.topic_id }}'); var $caret = $btn.find('span'); $btn.html('Not Relevant ').removeClass('btn-danger').addClass('btn-success'); $btn.append($caret); $('#pv-relevance-{{ t.topic_id }}').val('0');})();">Not Relevant</a></li>
                    <li><a href="javascript:void(0)" onClick="(function(){var $btn = $('#btn-judgements-{{ t.topic_id }}'); var $caret = $btn.find('span'); $btn.html('Relevant ').removeClass('btn-danger').addClass('btn-success'); $btn.append($caret); $('#pv-relevance-{{ t.topic_id }}').val('1');})();">Relevant</a></li>
                    <li><a href="javascript:void(0)" onClick="(function(){var $btn = $('#btn-judgements-{{ t.topic_id }}'); var $caret = $btn.find('span'); $btn.html('High Relevant ').removeClass('btn-danger').addClass('btn-success'); $btn.append($caret); $('#pv-relevance-{{ t.topic_id }}').val('2');})();">High Relevant</a></li>
                  </ul>
                  <input type="hidden" name="pv-relevance-{{ t.topic_id }}" value="-1" id="pv-relevance-{{ t.topic_id }}">
                  <input type="hidden" name="exp-id" value="{{ exp_id }}">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-primary">Submit &amp; Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Statistics for {{screen_name | safe}}</div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="pv-charts" class="row">
          <div class="col-lg-2">
            <div id="chart-cate-pie" > </div>
          </div>
          <div class="col-lg-2">
            <div id="chart-poi-pie"> </div>
          </div>
          <div class="col-lg-8">
            <div id="chart-timeline"> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="map-canvas" style="height: 500px;width: 100%"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
