<!DOCTYPE html>
<html>
<head>
  <title>GeoExpert Judgment System</title>
  <meta charset="utf-8" />
  <script src="/static/js/profileviewer/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/profileviewer/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="/static/css/profileviewer/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
  {% block extra_header %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a href="/" class="navbar-brand">GeoExpert Judgment System</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a href="#">Unjudged</a></li>-->
          <!--<li><a href="#">Judged</a></li>-->
          <!--<li><a href="#">Upload/Import Tasks</a></li>-->
          <!--<li><a href="#">Download Judgments</a></li>-->
        <!--</ul>-->
      </div>
    </nav>
    <div id="pv-content" class="container">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
