{% extends "frame.html" %}
{% block extra_header %}
  <script src="/static/js/profileviewer/unslider.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/profileviewer/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
  <!--<link rel="stylesheet" href="static/bower_components/jquery-popbox/popbox.css " type="text/css" media="screen" title="no title" charset="utf-8">-->
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('#no_inst').change(function(){
        if($(this).is(':checked')){
          $.cookie('no_inst', 1, {expires: 30});
        }
        else{
          $.removeCookie('no_inst');
        }
      });
      $('#slides').unslider({
        delay: 30000000,
        keys: true,
        dots: true,
        fluid: false
      });
      slidey = $('#slides')
      $('.click-to-next').click(function(e){
        slidey.data('unslider').next();
      })
    });
  </script>

  <link rel="stylesheet" href="/static/css/profileviewer/instruction.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <style type="text/css" media="screen">
    #slides {
      position: relative;
      overflow: auto;
    }
    #slides li {
      list-style: none;
    }
    .slide-instruction {
      background: #888888;
      color: white;
      width: 830px;
      height: 580px;
      margin-bottom: 0;
    }
    .container div.slide-image-instruction {
      background: #444444;
      padding-left: 10px;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 0;
    }
    .click-to-next{

    }
    abbr[title] {
      font-weight: bold;
      border-bottom: 2px dotted white;
    }
  </style>
{% endblock %}
{% block content %}
<div id="slides" class="row banner">
  <ul>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction">
                <div class="container" style="text-align: left">
                  <H1> Welcome </H1>
                  <p>
                    We are conducting a research on finding experts among active
                    users of location sharing services (e.g. Foursquare). You as
                    a judge will evaluate the retrieved users by studying their
                    profiles and scoring their <abbr title="Knowledge about places">expertise</abbr>
                    in a scale from 1 (<abbr title="Unlikely to be an expert">Novice</abbr>)
                    to 5 (<abbr title="Likely to be an expert">Expert</abbr>).
                  </p>
                  <p>
                    (Click to continue.)
                  </p>
                </div>
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction">
                <div class="container" style="text-align: left">
                  <H1> How </H1>
                  <p>
                    Since each user has a huge volume of
                    <abbr title="A message or tweet with location information">check-ins</abbr>,
                    it is not possible to view them all. Thus we provide a comprehensive panel for
                    judges to investigate users' expertise. By applying filters, you can zoom into
                    a particular part of facet (e.g., categories, places) to study their check-in
                    behavior. For example, you may apply a fiter to see only the check-ins at bars.
                  </p>
                  <p>
                    (Click to continue.)
                  </p>
                </div>
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction slide-image-instruction">
                <img src="/static/images/profileviewer/inst_1.png" alt="">
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction slide-image-instruction">
                <img src="/static/images/profileviewer/inst_2_1.png" alt="">
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction slide-image-instruction">
                <img src="/static/images/profileviewer/inst_2_2.png" alt="">
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12 click-to-next" align="center">
              <div class="jumbotron slide-instruction slide-image-instruction">
                <img src="/static/images/profileviewer/inst_3.png" alt="">
              </div>
            </div>
    </li>
    <li>
            <div class="col-lg-12" align="center">
              <div class="jumbotron slide-instruction">
                <div class="container" align="left">
                  <H1> Let's start </H1>
                  <p>
                    Last Tip: Hovering mouse over the panel for more information.
                  </p>
                  <p align="right">
                    With
                    <a class="btn btn-primary btn-lg" href="/expert_view/{{ expert }}">
                      @{{ expert }}
                    </a>
                  </p>
                  <p style="float: right; text-aligin: right; font-size: 14px">
                    <input id="no_inst" type="checkbox"> Do not show these instructions
                    next time.
                  </p>
                </div>
              </div>
            </div>
    </li>
  </ul>
</div>
{% endblock %}
