{% extends "frame.html" %}
{% block content %}
<div class="container">
<H1> Geo-Expertise Retrieval System </H1>
<button type="button" class="btn btn-primary" data-bind="click: gototask">Goto Tasks</button>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  userdata.gototask = function(e){
    $.get("/api/data/assign_taskpackage").done(function(ret){
      if(ret.succeeded) {
        window.location.href = "/pagerouter?action=instructions";
      }
    });
  };
</script>
{% endblock %}
