{% extends "frame_lgc.html" %}
{% block extra_header %}
{% endblock %}
{% block content %}
<form role="form" method="POST" action="/general_survey">
  {% csrf_token %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-4-sm">
          <h1> Thank you for participating </h1>
          <p> <small>This is a non-profit project conducted by a PhD
          student at Delft University of Technology in Netherlands. It
          aims at helping people quickly and accurately find those from
          their friends who is knowledgeable on topics regarding places
          of interest (POI).</small></p>

          <p> For more information, please see <a href="/terms">Terms</a>
          and <a href="/about">About</a>.
        </div>
      </div>
      <div class="row">
        <div class="col-4-sm">
          <div class="form-group">
            <label for="inputScreenName">Twitter ID</label>
            <input name="screen_name" type="text" class="form-control" id="inputTwitterID" placeholder="@one_example">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address (Optional)</label>
            <input name="email" type="text" class="form-control" id="inputEmail" placeholder="one@example.com ">
          </div>
          <button type="submit" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
