{% extends "frame.html" %}
{% block extra_header %}
<script type="text/javascript" charset="utf-8">
  $("#embedded-google-form").ready(function(){
    $("#embedded-google-form").height(document.body.scrollHeight - 120 + 'px');
    });
</script>
{% endblock %}
{% block content %}
<iframe id="embedded-google-form" src="http://docs.google.com/forms/d/1JRylVL8AouJclb_TU1GiBzhVAGp-_G7A0GplfJ7Rl6s/viewform?entry.1102912225={{ judge_email }}&embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}
