{% extends "frame_lgc.html" %}
{% block extra_header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12-sm" style="margin-bottom: 5px">
    <H1>TERMS OF USE</H1>
    The only purpose of collecting the data is for an
    academic study in context of a PhD thesis project from <a
    href="http://dmirlab.tudelft.nl/">DMIR Lab</a>, Delft University
    of Technology. We treat any information collected through this
    questionnaire confidentially. We do not disclose, publish or give
    any third party access to any information in any format that reveals
    your identity. We do not use your data for any commercial purposes.
  </div>
</div>
{% endblock %}
