{% extends "frame.html" %}
{% block extra_header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12-sm" style="margin-bottom: 5px">
    <H1>TERMS OF USE</H1>
    The only purpose of collecting the data is for an academic study in context of a PhD thesis project in Delft University of Technology (http://tudelft.nl). We treat any information collected through this questionnaire confidentially. We do not disclose, publish or give any third party access to any information in any format which reveals your identity. We do not use your data for any commercial purposes. Should you decide that you want to withdraw your data from our project, please indicate that in the last question of this questionnaire.
  </div>
</div>
{% endblock %}
