<!DOCTYPE html>
<html>
<head>
  <title>Geoexpert Judgment System</title>
  <meta charset="utf-8" />
  <script src="/static/bower_components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4oLS7DjhME0pLuTTauJw3rjs1_n4TuKM&sensor=false" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/initmap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/d3.v3.js" type="text/javascript" charset="utf-8"></script>
  <!--<script src="/static/js/nv.d3.min.js" type="text/javascript" charset="utf-8"></script>-->
  <!--<link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css" media="screen" title="no title" charset="utf-8">-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script src="/static/js/profileviewer/main.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/static/css/profileviewer/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" charset="utf-8">
    google.load("visualization", "1", {packages:["corechart"]});
    $(document).ready(function () {
      var pois = JSON.parse("{{ pois | escapejs }}");
      var cate_timelines = JSON.parse("{{ cate_timelines | escapejs }}");
      var poi_timelines = JSON.parse("{{ poi_timelines | escapejs }}");
      init_map(pois);
      init_cate_pie(cate_timelines);
      init_cate_timelines(cate_timelines);
      init_poi_pie(poi_timelines);
      init_poi_timelines(poi_timelines);
    });
  </script>
</head>
<body>
  <div id="banner" class="frame">
    <H1> GeoExpert Judgment System </H1>
  </div>
  <div id="content">
    <div id="left-pane" class="pane">
      <!--                            Left Pane-->
      <form action="judgment_submit" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% for t in topics %}
        <div class="title">
          Relevance to <b>{{t.name}}</b><br>
        </div>
        <input type="radio" name="{{t.id}}" value="0"><label for="Not_Relevant">0 (Not Relevant)</label>
        <input type="radio" name="{{t.id}}" value="1"><label for="Relevant">1 (Relevant)</label>
        <input type="radio" name="{{t.id}}" value="2"><label for="High_Relevant">2 (High Relevant)</label>
        {% endfor %}
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
    <div id="right-pane" class="pane">
      <!--                            Right Pane-->
      <div class="title">
        Last 60 places checked-in
      </div>
      <div id="map-canvas"></div>
      <div class="title">
        Category Distribution
      </div>
      <div id="chart-cate-pie"> </div>
      <div class="title">
        Category Timeline
      </div>
      <div id="chart-cate-timeline"> </div>
      <div class="title">
        10 Top POIs
      </div>
      <div id="chart-poi-pie"> </div>
    </div>
  </div>

</body>
</html>


