body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}

div#banner{
	width: 1024px;
	border-width: 1px;
}
div.pane{
	float: left;
	width: 512px;
	height: auto;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
div#map-canvas{
	height: 512px;
	width: 512px;
}
div.judgment-list-item {
	text-align: left;
}
div.judgment-list-item-judged {
	width: 16px;
	height: 16px;
	float: left;
}
